@use 'variables' as *;

// Theme toggle
.theme-toggle {
  padding: 1rem;
  padding-left: 2rem;
  cursor: pointer;

  .theme-toggle__icon {
    margin-right: 1rem;
  }
}

// Search input
.search-input-wrapper {
  width: 100%;
  padding-block: $base-padding * 1.5;
  padding-inline: $base-padding * 3;
  background: var(--clr-card-surface);
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;

  .search-icon {
    margin-right: 1rem;
  }

  .search-input {
    width: 85%;
    border: none;
    outline: none;
    background: var(--clr-card-surface);
  }
  @media (min-width: 720px) {
    width: 400px;
  }
}

// Filters
.filter {
  position: relative;
  .filter__active-option {
    width: 180px;
    padding: $base-padding * 1.5 $base-padding * 3;
    padding-right: $base-padding;
    margin-bottom: $base-margin;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow;
    background: var(--clr-card-surface);
    cursor: pointer;
  }

  .filter__list {
    padding: $base-padding * 2;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow;
    background: var(--clr-card-surface);
    display: none;
    position: absolute;
    inset-inline: 0;

    &.show {
      display: block;
    }
    .filter__list__option {
      cursor: pointer;

      & + .filter__list__option {
        margin-top: $base-margin;
      }

      &:hover {
        color: map-get($light-mode-colors, 'input-color');
      }
    }
  }
}

// Info
.info {
  margin-block: $base-margin * 1.5;
  width: 100%;
  word-wrap: normal;
  .info__details {
    white-space: normal;
  }
}

// Cards
.card {
  background: var(--clr-card-surface);
  border-radius: $base-border-radius * 1.5;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background: var(--clr-card-surface-hover);
  }

  .card__img {
    img {
      aspect-ratio: 3/2;
    }
  }
  .card__text {
    padding: $base-padding * 2;

    .card__text__title {
      height: 2rem;
      margin-bottom: $base-margin * 2;
    }
  }
}

// Back button
.back-button {
  padding: $base-padding $base-padding * 4;
  margin-top: 2rem;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  background: var(--clr-card-surface);

  &:hover {
    background: var(--clr-card-surface-hover);
  }

  .back-button__arrow {
    margin-right: $base-margin * 1.5;
  }
}

// Country info card
.country-info {
  margin-top: 5rem;
  @media (min-width: 1000px) {
    &.flex-wrap {
      flex-wrap: nowrap;
      gap: 2rem;
    }
  }

  .country-info__flag {
    width: 100%;
    @media (min-width: 1000px) {
      width: 50%;
    }
    img {
      aspect-ratio: 3/2;
    }
  }

  .country-info__text--container {
    width: 100%;
    @media (min-width: 1000px) {
      width: 40%;
    }
  }
  .country-info__text {
    width: 100%;
    .country-info__text__name {
      margin-block: 2rem 1rem;
    }
    .country-info__text__details {
      .country-info__text__details__col {
        width: 100%;
        @media (min-width: 400px) {
          width: fit-content;
          max-width: 50%;
        }
      }
    }
  }

  // Border country
  .border-countries {
    margin-top: 2rem;

    .border-country {
      padding: $base-padding * 0.5 $base-padding * 2;
      border-radius: $base-border-radius;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      background: var(--clr-card-surface);

      &:hover {
        background: var(--clr-card-surface-hover);
      }
    }
  }

  .flex-info {
    margin-top: 1rem;
    gap: 1rem;
    .border-country {
      margin-left: 0;
    }
  }
}

// Card skeleton
.card-skeleton {
  background: var(--clr-card-surface);
  border-radius: $base-border-radius * 1.5;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .card-skeleton__img {
    width: 100%;
    aspect-ratio: 3/2;
  }
  .card-skeleton__text {
    padding: $base-padding * 2;
  }
}

// Country info skeleton
.country-info {
  .card-skeleton__text {
    .country-info__text__name {
      width: 60%;
      height: 2rem;
      margin-bottom: 2rem;
    }

    .skeleton__text {
      width: 90%;
      height: 1.2rem;
    }
  }
}

.skeleton-country-flag {
  aspect-ratio: 3/2;
}
.border-country-skeleton {
  padding: $base-padding * 0.5 $base-padding * 5;
  border-radius: $base-border-radius;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  & + .border-country-skeleton {
    margin-left: 1rem;
  }
}

.skeleton__text {
  height: 1rem;
  margin-bottom: $base-margin * 2;
  border-radius: $base-border-radius * 0.5;
}

.shimmer,
.shimmer.border-country-skeleton {
  background: linear-gradient(to right, darken($white, 40), darken($white, 45));
  background-position: center left;
  background-size: 200%;
  animation: shimmer 0.6s ease-in infinite alternate-reverse;
}

// Shimmer animation
@keyframes shimmer {
  to {
    background-position: center right;
    opacity: 0.9;
  }
}

// Error element
.wrapper .error-wrapper,
.header + .error-wrapper {
  margin-top: 10rem;
}

.error-wrapper {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  img {
    width: min(100%, 550px);
    aspect-ratio: 3/2;
  }
  .error__message {
    margin-block: 1rem;
  }
  .error__back-home {
    display: inline-block;
    margin-top: 1rem;
    padding: $base-padding $base-padding * 4;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow;
    background: var(--clr-card-surface);
    &:hover {
      background: var(--clr-card-surface-hover);
    }
  }
}
