@use 'variables' as *;

// Header
.header {
  width: 100vw;
  background: var(--clr-card-surface);
  box-shadow: $box-shadow;
}

// Main
.main {
  padding-bottom: $base-padding * 2;
}

// Search
.search {
  padding-block: $base-padding * 4;
  gap: 1rem;
}

// Cards
.cards-section {
  gap: 1.25rem;
  @media (min-width: 1200px) {
    gap: 2.5rem;
  }
}
