$dark-mode-colors: (
  'card-color': hsl(209, 23%, 22%),
  'surface-color': hsl(207, 26%, 17%),
);

$light-mode-colors: (
  'text-color': hsl(200, 15%, 8%),
  'input-color': hsl(0, 0%, 52%),
  'surface-color': hsl(0, 0%, 98%),
);

$white: hsl(0, 0%, 100%);

$base-padding: 0.5rem;
$base-margin: 0.5rem;
$base-border-radius: 0.25rem;
$box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

$font-family: 'Nunito Sans', sans-serif;
$home-font-size: 14px;
$details-font-size: 16px;
